.SearchLayout {
    /* border: 3px solid black; */
    margin-top: 5%;
    height: 80vh;
    width: 95%;
    align-items:center;
    justify-content: space-around;
    display: flex;
    /* background-color: blue; */
}

.col1 {
    height: 70vh;
   border-radius: 1.4ch;
    width: 25%;
    background-color: #d6e6ff;
}

.searchSection {
    overflow: hidden;
    width: 39vw;
    height: 100%;
    background-color: rgb(155, 155, 240);
}

.searchActivities {
    height: 30vh;
    /* background-color: rgb(90, 80, 80); */
}

.searchbarLayout {
    height: 90%;

    border: 1px solid transparent;
    border-radius: 1.2ch;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchbarFilters {
    display: flex;
    height: 45%;
    width: 90%;
    justify-content: space-around;
}

.searchbarfilter1,
.searchbarfilter2,
.searchbarfilter3 {
    height: 70%;
    width: 32%;
    border-radius: 1.3ch;
    border: 1.2px solid black;
}

.searchbarfilter1:hover,
.searchbarfilter2:hover,
.searchbarfilter3:hover {
   cursor: pointer;
}

.searchbarFromSearchLayout {
    height: 30%;
    width: 80%;
    border-radius: 1.5ch;
    /* border: 2px solid green; */
}

.searchbarFromSearchLayout input {
    height: 100%;
    width: 100%;
    border-radius: 1.5ch;
    border: none;
    padding: 2%;
    font-size: 1.2rem;
}

.searchbarFromSearchLayout input:focus {
    outline: none;
}

.visiblePeople {
    /* height: 70%; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(157, 145, 78); */

}

.visiblePerson {
    display: flex;
    /* position: relative; */
    width: 97%;
    cursor: pointer;
    /* z-index: 100; */
    margin-top: 1%;
    background-color: rgb(161, 103, 103);
    border: 1px solid black;
    border-radius: 2%;
    border-radius: 1.3ch;
}

.visiblePerson:hover {
    /* top:-5px; */
    scale: 1.01;
    transition: all 0.5s;
}

/*inside showpeople component */

.profilePic {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic img {
    max-height: 80%;
    max-width: 100%;
    clip-path: circle();
    background-size: contain;
}

.profileDescription {
    width: 70%;
    /* height: 20%; */
    /* border: 1px solid red; */
    color: black;
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
}

.profileDescriptionUserName {
    /* border: 3px solid white; */
    color: black;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 1.7rem;
    display: flex;
    justify-content: start;
    transform: translateX(20%);
    font-style: normal;
    height: 35%;
}

.profileDescriptionUserData {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.profileDescriptionUserData1,
.profileDescriptionUserData2,
.profileDescriptionUserData3 {
    height: 100%;
    width: 33%;
    font-family: "Poppins", serif;
    font-weight: 380;
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    justify-content: space-evenly;
    align-items: center;
}

.col3 {
    height: 70vh;
    width: 25%;
    background-color: #d6e6ff; 
    border-radius: 1.4ch;
}