/* admin-dashoard-style.css */
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Lato:wght@300;400&family=Montserrat:wght@200;300&family=Ubuntu:wght@500&display=swap');

/* Reset default browser styles for tables */


body{
   background-image: url('/static/home/blob-scene-haikei\ \(1\).svg');
   background-repeat: no-repeat;
   background-size: cover;

}
table {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
    margin-top: 5vh;
  }

.title{
  margin-top: 10vh;
  text-align: center;
}
  
  /* Style the table header */
  table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 12px;
    font-family: 'Foldit', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* Style the table rows */
  table td {
    padding: 12px;
    text-align: center;
    font-family: 'Foldit', cursive;
    font-family: 'Lato', sans-serif; 
  }
  
  /* Add alternating row colors for better readability */
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Apply hover effect on rows */
  table tr:hover {
    background-color: #ddd;
  }
  
  /* Style the action links */
  table td a{
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  /* Style the action links on hover */
  table td a:hover {
    text-decoration: underline;
  }
  
 .button{
    display: flex;
   
    align-items: center;
    padding: 5vh;
 }
/* Basic button style */
.approve {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  
}

/* Hover effect */
.approve:hover {
  background-color: #0056b3;
  color: #fff;
}

.reject {
  display: inline-block;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #d42c5e;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
  margin-left: 2vh;
}



/* Hover effect */
.reject:hover {
  background-color: #a40d0def;
  color: #fff;
}