
<!--adminhome.html-->

{% extends 'baseA.html' %}

{% block title %}HOME PAGE{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/home/stylesheet.css">
<script src="/static/home/script.js"></script>
<script src="http://cdn.jsdelivr.net/npm/kute.js@2.1.2/dist/kute.min.js"></script>
{% endblock %}

{% block body %}
<div class="bannar" id="bannar">
    <img src="/static/home/logo-removebg-preview.png" alt="">
    <h1>Hey, Admin!</h1>
    <h1>WELCOME, {{ username }}</h1>
  
    <div class="bannar-button">
       
        <button><a href="/admin_dashboard">View your dashboard</a></button>
    </div>
</div>



{% endblock %}