{% extends 'baseD.html' %}

{% block title %}Doctor Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/admin/admin-dashboard-style.css">
{% endblock %}

{% block body %}
<div class="title">
  <h1>Welcome to your Dashboard, {{ username }}</h1>
</div>

{% if booking_requests %}
  <h2>Booking Requests:</h2>
  <table>
    <tr>
      <th>Patient Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Medical Issue</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    {% for request in booking_requests %}
    <tr>
      <td>{{ request[0] }}</td>
      <td>{{ request[1] }}</td>
      <td>{{ request[2] }}</td>
      <td>{{ request[6] }}</td>
      <td>{{ request[7] }}</td>
      <td>{{ request[5] }}</td>
      <td>{{ request[13] }}</td>
      <td class="button">
        <form action="/approve_booking" method="post">
          <input type="hidden" name="appointment_id" value="{{ request[12] }}">
          <input type="hidden" name="status" value="approved">
          <button type="submit" class="approve">Approve</button>
        </form>
        <form action="/approve_booking" method="post">
          <input type="hidden" name="appointment_id" value="{{ request[12] }}">
          <input type="hidden" name="status" value="rejected">
          <button type="submit" class="reject">Reject</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% else %}
  <p class="no-requests">No booking requests at the moment.</p>
{% endif %}

{% endblock %}
