<!--doctor-register.html-->

{% extends 'base.html' %}

{% block title %}SIGN UP{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/sign_up/stylesheet-doctor.css ">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
{% endblock %}

{% block body %}
<div class="bannar">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
             <div class="alert hide">
         <span class="msg">{{ message }}</span>
         <div class="close-btn">
         </div>
      </div>
          {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
    <script>

        setTimeout(pop_up(), 4000);
        setTimeout(pop_up(), 2000);
        function pop_up(){
          $('.alert').addClass("show");
          $('.alert').removeClass("hide");
          $('.alert').addClass("showAlert");

          setTimeout(function(){
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
          },5000);
        };

        function close(){
          $('.alert').removeClass("show");
          $('.alert').addClass("hide");
        };
     </script>
     <div class="sign-up-box">
        <form action="http://localhost:5000/doctor-register" method="post">
            <h1>SIGN-UP</h1>
            <p><b>Sign-up to get your appointment now!</b></p>
            <input type="text" name="doctor_id" placeholder="Your id"><br>
            <input type="text" name="username" placeholder="Your name"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="cpassword" placeholder="Confirm Password"><br>
            <input type="number" name="phone_number" placeholder="Your Number"><br>
       <select  name="Hospital">
              <option value="" disabled selected hidden>Select your Hospital</option>
              <option value="Hospital A">Hospital A</option>
              <option value="Hospital B">Hospital B</option>
              <option value="Hospital C">Hospital C</option>
              <option value="Hospital D">Hospital D</option>
            </select><br>
            <select  name="Specialization">
              <option value="" disabled selected hidden>Specialization</option>
              <option value="Cardiologist">Cardiologist</option>
              <option value="ENT">ENT</option>
              <option value="Neurologist">Neurologist</option>
              <option value="Dentist">Dentist</option>
              <option value="Orthologist">Orthologist</option>
            </select><br>
            <input type="text" name="education" placeholder="Your Education"><br>
            <input type="text" name="city" placeholder="City"><br>
            <input type="text" name="address" placeholder="Your address"><br>
            <button type="submit">SIGN-UP</button>
        </form>
     </div>
</div> 
{% endblock %}