.outerLoginContainer{
    height: 100vh;
    width: 100%;
    border:3px solid black
}

.loginFormOuter{
    height: 100%;
    width: 50%;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    width: 55%;
    height: 80%;
    border:1px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.loginForm p{
 height:10%;
 font-family: poppins;

}

.loginForm p:nth-child(1) {
    /* height: 20%; */
    /* color: red; */
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2ch;
}

.loginFormInputDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    width: 100%;
    /* border: 1px solid black; */
    align-items: center;
}

.loginFormInputDetails input{
    height: 10%;
    width: 100%;
    border: none;
    font-size: 1.1rem;
    font-family: poppins;
    padding:4%;
    /* border-radius: .7ch; */
    border-bottom: 2px solid rgb(151, 150, 150);
}
.loginFormInputDetails input::placeholder{
    font-size: 1.1rem;
    font-family: poppins;
    padding-left: 2%; 
}

.loginFormInputDetails input:focus{
    outline: none;
}
.normalSignUp{
    all: unset;
    height: 8%;
    width: 30%;
    border-radius: 1ch;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: poppins;
}

.normalSignUp:hover{
    cursor: pointer;
}

.signUpWithGoogle{
    height: 10%;
    width: 60%;
    border: 1px solid blue;
}