
h1{
    font-size: xxx-large;
    padding: 10px;
    background-color: aliceblue;
}
label{
    color: black;
    font-size:x-large;
    padding: 10px;
}

body{
    text-align: center;
    padding: 8%;
    background-color: aliceblue;
}